#---------------------------
# Global
#---------------------------
**/obj/*
**/bin/*
**/*.suo
**/*.opensdf

#---------------------------
# MS Word
#---------------------------
*.tmp

#---------------------------
# Cpp/*
#---------------------------

# Compiled Object files
Cpp/*.sdf
Cpp/*.slo
Cpp/*.lo
Cpp/*.o
Cpp/*.obj

# Precompiled Headers
Cpp/*.gch
Cpp/*.pch

# Compiled Dynamic libraries
Cpp/*.so
Cpp/*.dylib
Cpp/*.dll

Cpp/Debug/*
Cpp/Morpe/Debug/*
Cpp/ipch/*